{% extends "base.html" %}

{% block head %}
	{{ block.super }}
	<link rel="alternate" type="application/rss+xml" title="RSS" href="?rss" />
	<link rel="unapi-server" type="application/xml" title="unAPI" href="/publications/unapi/"/>
{% endblock %}

{% block content %}
<h1>Kewords</h1>
<hr />
<div class="keyword-list">
{% for year, publications in years %}
    {% for publication in publications %}
    {% if publication.keywords %}
    {% for keyword, keyword_escaped in publication.keywords_escaped %}
        <a class="keyword" href="/publications/tag/{{ keyword_escaped }}/">{{ keyword }}</a>
    {% endfor %}
    {% endif %}


    {% endfor %}
{% endfor %}



    </div>
	{% for year, publications in years %}
		<a href="/publications/year/{{ year }}/"><h1>{{ year }}</h1></a><hr/>
		<div class="staff-detail">
            <ul class="publications">
                {% for publication in publications %}
                    <li>
	                    <div {% if not forloop.last %} style="margin-bottom: 20px;"{% endif %}>
		                {% include "publications/publication.html" %}
	                    </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
<br><br>
{% endblock %}

