/* --------------------------------------------------
            CSI LAB CUSTOM CSS
----------------------------------------------------*/

/*------------ MAIN DECLARATIONS -------------------*/
body{
    font-family: sans-serif;
}

h1, h2, h3, h4 {
    font-weight: bold;
    color: #4eb98f;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Structural */

.wrapper {
  overflow: hidden;
  width: 100%;
}

.divider{
    width: 100%;
    height: 1px;
    background-color: #4eb98f;
}

.column{
    padding: 10px;
}




/* Header */
.banner{
    height: 150px;
    background-color: #416384;
}
.banner .container{
    padding-top: 50px;
}

.site-title{
    color: #ffffff;
    font-size: 36px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.breadcrumbs, .breadcrumbs a {
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
}
/* Header Navigation */
.header-menu{
    background-color: #cccccc;
}
    /* remove project name*/
.navbar-brand{
    display:none;
}

.navbar{
    margin: 0;
    border: none;
}

.navbar-collapse{
    padding: 0;
}

.navbar .container{
    padding: 0;
}

.navbar li{
    border-right: 1px solid #efefef;
}

.navbar ul:first-child {
    border-left: 1px solid #efefef;
}

.navbar .selected {
    border-bottom: 3px solid #416384;
}


.navbar-collapse.in {
  overflow-y: visible !important;
  margin-left: 0 !important;
  }



/* Footer */
footer{
    height:300px;
    background-color: #41434f;
}
footer a{
    color: #ffffff;
}

#footer-menu-left, #footer-menu-right{
     height: 250px;
     width: 250px;
     display: inline-block;
     padding-top: 50px;
     font-size: 16px;
}

#footer-menu-left, #footer-menu-right li{
     list-style-type: none;
}

#footer-menu-left .selected {
    border-bottom: 1px solid #ffffff;
}


/*--------- PUBLICATIONS ------------*/
.publications{
    list-style-type: none;
}

.publications li{
    width: 250px;
    text-align: center;
    display: inline-block;
}

.downloadable, .not-downloadable{
    display: inline-block;

}

.pub-title{
    font-weight: bold;
    font-size: 15px;
    text-decoration: underline;
}

/*--------- NEWS ------------*/

/* - Categories -*/

.categories{
    list-style-type: none;
}

.category{
    margin-bottom: 20px;
}

.category_name{
    color: white;
    font-weight: bold;
    font-size: 26px;
    position: relative;
    top: 150px;
    left: 10px;
    text-decoration: underline;
}

.shim{
   background: rgba(78,185,143,0.8);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

/*- item -*/
.news-item{
    font-family: sans-serif;
  font-size: 12px;
  line-height: 1.3333em;
  margin: 1em 0.5em 1em 0.5em;
  border: 1px solid #efefef;
  padding: 10px;
  border-radius: 5px;

}

.news-items{
    list-style-type: none;
    margin-left: -40px;
}

.key-thumb{
    float: right;
}




/*------------ FORMS ------------*/
.form-wrapper{

    box-shadow: 0 0 8px #686868;
    border-radius: 3px;
    padding: 2em;

}

.field-wrapper input {
    outline: none;
    font-size: 1.5em;
    font-weight: 400;
    color: #b4b4b4;
    padding: 15px 10px 15px 45px;
    border: 1px solid #ccc;
    width: 85%;
    margin: 0em 0em 1.5em 0em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;


}