/* --------------------------------------------------
            CSI LAB CUSTOM CSS
----------------------------------------------------*/

/*------------ MAIN DECLARATIONS -------------------*/


body{
    font-family: sans-serif;
}

h1, h2, h3, h4 {
    font-weight: bold;
    color: #4eb98f;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Structural */

.wrapper {
  overflow: hidden;
  width: 100%;
}

.divider{
    width: 100%;
    height: 1px;
    background-color: #4eb98f;
}

.column{
    padding: 10px;
}




/* Header */
.banner{
    height: 150px;
    background-color: #416384;
}
.banner .container{
    padding-top: 50px;
}

.header-left{
    display: inline-block;
}

.site-title{
    color: #ffffff;
    font-size: 36px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;

}

.breadcrumbs, .breadcrumbs a {
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;

}

.header-logo{
    float: right;
    width: 115px;
    height: 75px;
    display: inline block;
}

@media screen and (max-width: 670px){
    .header-logo{
        display: none;
    }
}
/* Header Navigation */
.header-menu{
    background-color: #cccccc;
}
    /* remove project name*/
.navbar-brand{
    display:none;
}

.navbar{
    margin: 0;
    border: none;
}

.navbar-collapse{
    padding: 0;
}

.navbar .container{
    padding: 0;
}

.navbar li{
    border-right: 1px solid #efefef;
}

.navbar ul:first-child {
    border-left: 1px solid #efefef;
}

.navbar .selected {
    border-bottom: 3px solid #416384;
}


.navbar-collapse.in {
  overflow-y: visible !important;
  margin-left: 0 !important;
  }

.secondary-menu{
    border-bottom: 1px solid #efefef;
}



.secondary-menu ul{
    margin-left: -15px;
}

.ancestor ul {
    display: none;
}


/* Footer */
footer{
    height:300px;
    background-color: #41434f;
}
footer a{
    color: #ffffff;
}

.wrapper a:hover{
    colour: red !important;
    text-decoration: none;
}

#footer-menu-left, #footer-menu-right{
     height: 250px;
     width: 250px;
     display: inline-block;
     padding-top: 50px;
     font-size: 16px;
}

#footer-menu-left, #footer-menu-right li{
     list-style-type: none;
}

@media screen and (max-width: 540px){
    #footer-menu-left{
        display: none;
    }
}

#footer-menu-left .selected ul{
    display: none;
}
footer a:hover{
    color: #d3d3d3;
}



/*--------- PUBLICATIONS ------------*/
.publications{
    list-style-type: none;
}

.publications li{
    width: 250px;
    text-align: center;
    display: inline-block;
}

.downloadable, .not-downloadable{
    display: inline-block;

}

.pub-title{
    font-weight: bold;
    font-size: 15px;
    text-decoration: underline;
}

/*--------- NEWS ------------*/

/* - Categories -*/

.categories{
    list-style-type: none;
}

.category{
    margin-bottom: 20px;
}

.category_name{
    color: white;
    font-weight: bold;
    font-size: 26px;
    position: relative;
    top: 150px;
    left: 10px;
    text-decoration: underline;
}

.shim{
   background: rgba(78,185,143,0.8);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

/*- item -*/
.news-item{
    font-family: sans-serif;
  font-size: 12px;
  line-height: 1.3333em;
  margin: 1em 0.5em 1em 0.5em;
  border: 1px solid #efefef;
  padding: 10px;
  border-radius: 5px;

}

.news-items{
    list-style-type: none;
    margin-left: -40px;
}

.key-thumb{
    float: right;
}




/*------------ FORMS ------------*/
.myform{
    width: 70%;
    margin: 0 auto;
    border: none;
}

.myform form{
    list-style-type: none;
    margin: 10px auto;
    padding: 30px 20px;
    background: #f4f7f8;
    border-radius: 8px;
    }

 .myform input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    width: 100%;
}


.myform input[type="submit"]{
    background: #4eb98f;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    margin: 5px;
    color: #fff;
    position: relative;
    display: inline-block;

}

.myform table{
    width: 100%;
}

.myform th{
    padding-bottom: 30px;

}

.myform ul{
    list-style-type: none;
}


@media screen and (max-width: 760px){
    .myform {
        width: 100%;
        margin: 0;
    }
}

