
.divider{
    width: 100%;
    height: 1px;
    background-color: #4eb98f;
}

.staff-list {
	list-style-type: none;
	padding-left: 0;
}

.staff-list li {
	display: inline-block;
	margin: 12px 12px 12px 0;
	width: 360px;
}

.staff-list li img {
	border-radius: 25%;
}

.staff-list .name, .staff-list .title,
.staff-detail .title {
	font-family: sans-serif;
	font-size: 12px;
	color: #666;
	line-height: 1.25em;
	padding: 0;
	margin: 0;
}

.staff-list .name {
	font-weight: bold;
	color: #4eb98f;
	font-size: 16px;
}

.staff-list .people-info{
    width: 200px;
    display: inline-block;
    padding-left: 5px;
    vertical-align: middle;
}

.staff-bio p {
	font-family: sans-serif;
	font-size: 12px;
	color: #666;
	line-height: 1.25em;
	margin: 1em 0 0 0;
}

.body-content .staff-detail{
    min-height: 300px;
}

.staff-detail img{
    border-radius: 25%;
    float: right;
}

@media screen and (max-width: 540px){
    .staff-detail img{
    float: none;
    }
}


.staff-detail h1 {
	font-family: sans-serif;
	font-size: 32px;
	margin-bottom: 5px;
}

.staff-detail .publications {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.staff-detail .publications li {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.3333em;
	margin: 1em 0.5em 1em 0.5em;
	border: 1px solid #efefef;
    padding: 10px;
    border-radius: 5px;
        vertical-align: top;
}

.staff-detail .publications .meta {
	color: #999;
	font-style: italic;
}

.staff-detail h3 {
	font-family: sans-serif;
	font-size: 14px;
}