{% extends CMS_TEMPLATE %}
{% load cms_tags sekizai_tags staticfiles thumbnail %}

{% block title %}{{ staff.full_name }}{% endblock title %}

{% block body_classes %}{{ block.super }} staffmember-detail{% endblock %}

{% block content %}
{% addtoblock "css" %}<link rel="stylesheet" href="{% static "staff/css/styles.css" %}">{% endaddtoblock %}
<div class="body-sidebar">
  <div class="staff-detail">
    {% thumbnail staff.photo '272x272' crop subject_location=staff.photo.subject_location as photo %}
    <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ staff.full_name }}">
  </div>
</div>
<div class="body-content">
  <div class="staff-detail">
    <h1 class="name">{% render_model staff "full_name" %}</h1>
    <div class="title">{{ staff.title}}</div>
    <div class="staff-bio">{% render_placeholder staff.bio %}</div>
  </div>
     <div class="divider"></div>
    <div class="staff-detail">
    <h1>Contact Details</h1>
    <div class="staff-bio">{% render_placeholder staff.contact %}</div>
  </div>
  <div class="divider"></div>
  {% if staff.publications.all %}
  <div class="staff-detail">
    <h1>Publications</h1>
    <ul class="publications">
      {% for publication in staff.publications.all %}
      <li>
        {% load publication_extras %}
        {% if publication.authors_escaped|length > 8 %}
        {% for author, author_escaped in publication.authors_escaped|slice:":8" %}
        <span>{{ author }}</span>,
        {% endfor %} <i>et al.</i><br />
        {% else %}
        {% for author, author_escaped in publication.authors_escaped %}
        <span>{{ author }}</span>{% if not forloop.last %}{% if forloop.revcounter == 2 %}{% if not forloop.first %},{% endif %} and {% else %}, {% endif %}{% endif %}
        {% endfor %}<br /><br>
        {% endif %}
        <b><a href="/publications/{{ publication.pk }}/" >{{ publication.title|tex_parse }}</a></b><br/>
        {% if publication.journal %}
        <i>{{ publication.journal }}{% if publication.note %} ({{ publication.note }}){% endif %},
         {% if publication.volume %}<b>{{ publication.volume }}</b>{% if publication.number %}({{ publication.number }}){% endif %},{% endif %}
         {% if publication.pages %}{{ publication.pages }},{% endif %}
         {{ publication.year }}
       </i><br /><br>
       {% else %}
       <i>{% if publication.book_title %}{{ publication.book_title }}{% if publication.note %} ({{ publication.note }}){% endif %},{% endif %}
         {% if publication.publisher %}{{ publication.publisher }},{% endif %}
         {% if publication.institution %}{{ publication.institution }},{% endif %}
         {{ publication.year }}{% if publication.isbn %},
         ISBN {{ publication.isbn }}{% endif %}</i><br /><br>
         {% endif %}
         {% if publication.keywords %}
         Keywords:
         {% for keyword, keyword_escaped in publication.keywords_escaped %}
         <a class="keyword" href="/publications/tag/{{ keyword_escaped }}/">{{ keyword }}</a>
         {% endfor %}
         <br /><br>
         {% endif %}
         <div class="centered">
          {% if publication.code %}<a class="link" href="{{ publication.code }}">Code</a>,{% endif %}
          {% if publication.url %}<a class="link" rel="external" href="{{ publication.url }}">URL</a>,{% endif %}
          {% if publication.doi %}<a class="link" rel="external" href="http://dx.doi.org/{{ publication.doi }}">DOI</a>,{% endif %}
          {% if not publication.journal and publication.isbn %}<a class="link" rel="external" href="http://isbndb.com/search/all?query={{ publication.isbn }}">ISBN</a>,{% endif %}
          {% if publication.pdf %}<a class="link" href="{{ MEDIA_URL }}{{ publication.pdf }}">PDF</a>,{% endif %}
          {% for file in publication.files %}
          <a class="link" href="{{ MEDIA_URL }}{{ file.file }}">{{ file.description }}</a>,

          {% endfor %}
          {% for link in publication.links %}
          <a class="link" rel="external" href="{{ link.url }}">{{ link.description }}</a>,
          {% endfor %}
          <a href="/publications/{{ publication.pk }}/?ris">RIS</a>,
          <a href="/publications/{{ publication.pk }}/?bibtex">BibTex</a>
          <abbr class="unapi-id" title="{{ publication.id }}"></abbr>
          <span class="Z3988" title="{{ publication.z3988 }}"></span>
        </div>



      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="divider"></div>
  {% endif %}

</div>
{% endblock content %}
